/*
Theme Name: EMPRESA Tema
Theme URI:
Description: Este es un tema  de wordpress desarrollado por Grupo Samant
Author: Grupo Samant
Author URI: https://gruposamant.com
Version: 1.0
*/

body {
  font-size: 17px;
}
figure {
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}

@media screen and (max-width:1023px) {

}
@media screen and (max-width:599px) {

}
